<section class="highlights-section">
	<ul class="highlights-list">
	   <li class="highlight-item" data-highlight-id="competences" data-title="Compétences" data-icon="💡" onclick="openHighlightViewer('competences')">
		   <div class="highlight-border-wrapper">
			   <div class="highlight-circle">
				   <span class="highlight-placeholder">💡</span>
			   </div>
		   </div>
		   <p class="highlight-title">Compétences</p>
	   </li>
	   <li class="highlight-item" data-highlight-id="diplomes" data-title="Diplômes" data-icon="🎓" onclick="openHighlightViewer('diplomes')">
		   <div class="highlight-border-wrapper">
			   <div class="highlight-circle">
				   <span class="highlight-placeholder">🎓</span>
			   </div>
		   </div>
		   <p class="highlight-title">Diplômes</p>
	   </li>
	</ul>
</section>
