<div class="highlight-viewer" id="highlightViewer" style="display: none;">
	<div class="highlight-viewer-overlay"></div>
	<div class="highlight-viewer-content">
		<div class="highlight-progress-bar-container"></div>
		<div class="highlight-viewer-header">
			<div class="highlight-info">
				 <span class="highlight-viewer-icon">❓</span>
				 <span class="highlight-viewer-title">Highlight</span>
			</div>
			<button class="highlight-close-button" onclick="closeHighlightViewer()" aria-label="Fermer">×</button>
		</div>
		<div class="highlight-media-container">
			<img src="" alt="Highlight Content" id="highlightMediaContent" style="display: none;">
			 <video src="" id="highlightVideoContent" style="display: none;" autoplay muted loop playsinline></video>
		</div>
		<button class="highlight-nav-button prev" id="highlightPrevButton" style="display: none;"><</button>
		<button class="highlight-nav-button next" id="highlightNextButton" style="display: none;">></button>

	</div>
</div>