<section class="tabs-section" aria-label="Catégories de projets">
	<ul class="tabs-list">
		<li class="tab-item active" data-category="frontend">🖥️ Front‑end</li>
		<li class="tab-item" data-category="backend">🌐 Back‑end & Réseau</li>
		<li class="tab-item" data-category="devops">🐳 DevOps/Système </li>
		<li class ="tab-item" data-category="algo">🧠 Algorithmes</li>
		<li class="tab-item" data-category="data">📈 Data Science</li>
	</ul>
	<ul class="tabs-list-mobile">
		<li class="tab-item-mobile active" data-category="frontend">🖥️ Front</li>
		<li class="tab-item-mobile" data-category="backend">🌐 Back</li>
		<li class="tab-item-mobile" data-category="devops">🐳 DevOps </li>
		<li class ="tab-item-mobile" data-category="algo">🧠 Algo</li>
		<li class="tab-item-mobile" data-category="data">📈 Data</li>
	</ul>
</section>