<section class="tabs-section" aria-label="Catégories de projets">
    <ul class="tabs-list">
       <li class="tab-item active" data-category="frontend">🖥️ Front‑end</li>
       <li class="tab-item" data-category="backend">🌐 Back‑end & Réseau</li>
       <li class="tab-item" data-category="devops">🐳 DevOps/Système </li>
       <li class="tab-item" data-category="network">📡 Network</li>
       <li class ="tab-item" data-category="algo">🧠 Algorithmes</li>
       <li class="tab-item" data-category="data">📈 Data Science</li>
   </ul>
</section>